<header class="nav">
  <div class="nav-left">
    <a routerLink="/" class="brand">🏀 Sportska prodavnica</a>
    <a routerLink="/products" routerLinkActive="active">🛍️ Proizvodi</a>
    <a routerLink="/cart" routerLinkActive="active">🛒 Korpa</a>
    <input 
    type="text" 
    placeholder="Pretraži proizvode..." 
    [(ngModel)]="searchTerm" 
    (input)="onSearch()" 
    class="search-box"
  />
  
  </div>

  <!-- Ako nije ulogovan -->
  <div class="nav-right" *ngIf="!isLoggedIn">
    <a routerLink="/login" routerLinkActive="active">🔑 Prijava</a>
    <a routerLink="/register" routerLinkActive="active">📝 Registracija</a>
  </div>

  <!-- Ako jeste ulogovan -->
  <div class="nav-right" *ngIf="isLoggedIn">

    <!-- USER meni -->
    <ng-container *ngIf="isUser">
      <a routerLink="/profile" routerLinkActive="active">👤 Moj profil</a>
      <a routerLink="/my-orders" routerLinkActive="active">📦 Moje porudžbine</a>
    </ng-container>

    <!-- ADMIN meni -->
    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin/users" routerLinkActive="active">👥 Korisnici</a>
      <a routerLink="/admin/products" routerLinkActive="active">📦 Proizvodi</a>
      <a routerLink="/admin/orders" routerLinkActive="active">🧾 Porudžbine</a>
    </ng-container>

    <!-- Ulogovani user info -->
    <span class="user-pill">
      👋 {{ user?.name }} {{ user?.surname }}
      <small>({{ user?.role }})</small>
    </span>

    <button class="logout-btn" (click)="logout()">🚪 Odjava</button>
  </div>
</header>
