<h2>🛒 Moja korpa</h2>

<mat-card *ngFor="let item of items" class="cart-item">
  <img [src]="item.product.imageUrl || 'assets/no-image.png'" 
       alt="Slika" 
       class="item-image">

  <h3>{{ item.product.name }}</h3>
  <p>Cena: {{ item.product.price }} RSD</p>
  <p>Količina: {{ item.quantity }}</p>
  <p>Ukupno: {{ item.product.price * item.quantity }} RSD</p>

  <button mat-button color="warn" (click)="removeFromCart(item.product.id)">Ukloni</button>
</mat-card>

<h3 *ngIf="items.length">Ukupan iznos: {{ getTotal() }} RSD</h3>
<div *ngIf="items.length" class="checkout-container">
  <h3>Ukupan iznos: {{ getTotal() }} RSD</h3>
  <button mat-raised-button color="primary" routerLink="/checkout">
    Nastavi na plaćanje
  </button>
</div>


<h3 *ngIf="!items.length">Korpa je prazna.</h3>
