<div class="auth-container">
  <h2>📝 Registracija</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Ime</label>
      <input type="text" formControlName="name" />
    </div>

    <div class="form-group">
      <label>Prezime</label>
      <input type="text" formControlName="surname" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" />
    </div>

    <div class="form-group">
      <label>Lozinka</label>
      <input type="password" formControlName="password" />
    </div>

    <!-- 👇 Novo polje za ulogu -->
    <div class="form-group">
      <label>Uloga</label>
      <select formControlName="role">
        <option value="USER">Korisnik</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>

    <button [disabled]="loading" type="submit" class="btn">
      {{ loading ? 'Registracija...' : 'Registruj se' }}
    </button>

    <div *ngIf="errorMsg" class="error-msg" 
         [class.success-msg]="errorMsg.includes('Uspešno')">
      {{ errorMsg }}
    </div>
  </form>

  <div class="auth-switch">
    Već imate profil?
    <a routerLink="/login">Prijavite se</a>
  </div>
</div>
